<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>内存链表.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>循环链表.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>有头节点的链表.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>链表.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>链表的创建.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>链表的遍历.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3C0E986B1D05C5350055A93F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3C0E98781D06F20D0055A93F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3C3810E01D0DBB3B0018D499</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3CA6A7E81D018C6000056318</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3CA6A7F71D03156000056318</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3CA6A8021D044F3F00056318</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
